/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: sans-serif;
    color: #212529;
  }

  a {
    color: #0084d6;
  }

  a:hover {
    color: #333;
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color:#212529;
  }

  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }

  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #333;
    color: #fff;
    transition: all 0.4s;
  }

  .back-to-top i:hover {
    background: #495057;
    color: #fff;
  }

  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }

  /*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/
  #topbar {
    height: 60px;
    font-size: 16px;
    transition: all 0.5s;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.8);
    background: #0d6cb8;
  }

  #topbar.topbar-scrolled {
    top: -60px;
  }

  #topbar .contact-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #topbar .contact-info li {
    display: inline-block;
    padding: 0;
  }

  #topbar .contact-info li + li {
    margin-left: 18px;
  }

  #topbar .contact-info a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
  }

  #topbar .contact-info a:hover {
    color: #fff;
  }

  #topbar .contact-info i {
    color: #f6b024;
    padding-right: 4px;
  }

  #topbar .cta {
    background: transparent;
  }

  #topbar .cta a {
    color: #fff;
    background: #f6b024;
    padding: 6px 24px 8px 24px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
  }

  #topbar .cta a:hover {
    background: #f1a40a;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background:#ffffff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    /* top: 60px; */
  }

  #header.header-scrolled {
    top: 0;
    background: rgba(5, 87, 158, 0.9);
  }

  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  #header .logo a {
    color: #fff;
  }

  #header .logo img {
    max-height: 60px;
  }

  @media (max-width: 992px) {
    #header {
      top: 0;
      padding: 25px 0;
      background:#fff;
    }
    #header .logo {
      font-size: 28px;
    }
  }

  .header-inner-pages {
    background: rgba(5, 87, 158, 0.9) !important;
  }

  .topbar-inner-pages {
    background: rgba(6, 98, 178, 0.9) !important;
  }

  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-menu > ul {
    display: flex;
  }

  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 0 0 0 44px;
  }

  .nav-menu a {
    display: block;
    position: relative;
    color: #000;
    transition: 0.3s;
    font-size: 16px;
    padding: 0 3px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }

  .nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #6c757d;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 100%;
  }

  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #0f891e;
  }

  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 8px;
  }

  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }

  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
    color: #032e54;
  }

  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #0880e8;
  }

  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }

  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }

  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }

  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }

  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }

  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }

  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;

  }

  .mobile-nav-toggle i {
    color: #e0463f;
  }

  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
    height: fit-content;
  }

  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mobile-nav a {
    display: block;
    position: relative;
    color: #333;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }

  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color:#545b62;
    font-weight: 700;
    text-decoration: none;
  }

  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }

  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }

  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }

  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }

  .mobile-nav .drop-down li {
    padding-left: 20px;
  }

  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: #49505754;
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }

  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    /* overflow: hidden; */
  }

  .section-bg {
    background-color: #f1f8ff;
  }

  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #054a85;
  }

  .section-title p {
    margin-bottom: 0;
    font-style: italic;
  }

  /*--------------------------------------------------------------
  # intro Section
  --------------------------------------------------------------*/
  #rcn_intro {
    width: 100%;
    margin: 72px 0 0;
    background: linear-gradient(0deg, #645483 0, #230d4e 99%);
    background-size: cover;
    position: relative;
    background-position: center;
    padding: 100px 0;
  }

  #rcn_intro h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }

  #rcn_intro h2 {
    color: #a08f86;
    margin-bottom: 10px;
    font-size: 24px;
  }

  #rcn_intro .btn-get-started {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #0f891e;
    border-radius:5px;
    border: 2px solid #0f891e;
  }

  .fa-ul{
    color:#fff;

  }

  #rcn_intro .btn-get-started:hover {
    background: #fff;
    color:#0f891e;
  }

  #rcn_intro .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @media (min-width: 1024px) {
    #rcn_intro {

    }
  }

  @media (max-width: 991px) {
    #rcn_intro {
      height: calc(100vh - 72px);
    }
    #rcn_intro .animated {
      -webkit-animation: none;
      animation: none;
    }
    #rcn_intro .responsive-img {
      text-align: center;
    }
    #rcn_intro .responsive-img img {
      width: 50%;
    }
  }

  @media (max-width: 768px) {
    #rcn_intro h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #rcn_intro h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    #rcn_intro .responsive-img img {
      width: 70%;
    }
  }

  @media (max-width: 575px) {
    #rcn_intro .responsive-img img {
      width: 80%;
    }
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  /*--------------------------------------------------------------
  # Price
  --------------------------------------------------------------*/
  .price-boxes {

  }

  .price-boxes .price-box {
    border-radius: 5px;
    border: 1px solid #C6C6CC;
    padding: 40px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-bottom: 5px solid  #C6C6CC;
    height:730px;
    width: 100%;
    text-align:center;
  }

  .price-box:hover {
    transform: translateY(-5px);
    border-color: #6943B4;
  }

  /* .price-boxes .price {
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
  } */



  .no-display{

    color:#babcbd4f !important;
  }

  .price-boxes .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .price-boxes .title a {
    color: #05579e;
  }

  .price-boxes .description {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
    color: #777777;
    height:70px;
  }

  .price-icon{
    padding:10px;
    font-size: 50px;
    color: #2c1d5a;
  }



  .price-boxes h2 {
    color: #30aa3f;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: -2.33px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 10px;
  }

  .home-deals{
    margin: -40px -30px 20px -30px;;
    height: 52px;
    transform: rotate(-180deg);
    border-radius: 0 0 5px 5px;
    background: linear-gradient(0deg, #E5E5E5 0%, rgba(229, 229, 229, 0) 100%);
  }

  .home-deals h2{
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
  }




  h3.desc {
    text-align:left;
    font-weight: 700;
    padding: 20px 0px;
    padding-bottom:0px;
    margin-bottom:0px;
    font-size:15px;
    color: #333;
  }

  .price-boxes h5 {
    font-weight: 700;
    padding: 0px;
    font-size: 27px;
    color: #472f91;
  }

  .price-boxes h4 {
    font-size: 36px;
    color: #454b52;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
  }

  .price-boxes .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 16px;
    padding: 1px 0 3px 0;
    background: #0880e8;
    color: #fff;
  }

  .price-boxes h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }

  .price-boxes h4 span {
    color: #bababa;
    font-size: 17px;
    font-weight: 300;
  }

  .price-boxes .btn-wrap {
    padding: 20px 15px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .price-boxes .btn-call {
    background-color: #0f891e;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    color: #fff;
    font-size: 26px;
    font-family: sans-serif;
    transition: 0.3s;
    font-weight: bold;
    border: 2px solid #0f891e;
    border-radius: 6px;
    text-align: center;
    width: 100%;
  }

  .price-boxes .btn-call:hover {
    background-color: #fff;
    color: #0f891e;
  }

  .price-boxes ul {
    padding: 0;
    color: #022b58;
    text-align: center;
    line-height: 20px;
    font-size: 16px;

  }

  .price-boxes ul li {
    text-align:left;
    padding: 16px 0;
    height: 85px;
  }

  .fa-ul i{
    font-size: 20px;
    line-height: 1;
    color: #05305f;;
  }


  .priceBox {
    background-color: #333333;
    padding: 10px 0 50px;
    margin:0px -30px 20px -30px;
  }

  .price {
    color: #FFF;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: Roboto;
  }

  .price .dollars{
    line-height: 1;
    font-family: sans-serif;
  }

  .price .dollars sup {
    top: -32px;
    font-size: 30px;
    font-weight: 700;
  }
  .price .dollars span {
    font-size: 80px;
    font-weight: 700;
    margin-right: 3px;
  }
  .price .cents {
    margin-top: 15px;
    text-align: left;
  }

  .price .cents .top {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
  }

.price .cents .bottom {
  margin-top: 3px;
  font-size: 16px;
  line-height: 16px;
}

 .price-box-2{
  text-align: center;
  background: #f3f2e9;
  border-top: 5px solid #483292;
  padding: 20px 0px 0;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 .price-box-2 i{
  font-size: 38px;
  line-height: 1;
  color: #483292;
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
 }

 .price-box-2 h2{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #483292;
  font-size: 26px;
  margin: 0;
  font-size: 1.4em;
  line-height: 1.5;
  letter-spacing: -0.33px;
 }

 .price-box-2 h3{
  font-family: Roboto, sans-serif;
    font-weight: 600;
    color: #000;
    letter-spacing: 0px;
    font-size: 18px;
    height: 46px;
 }
 .price-box-2 h4{
  color: #333;
  font-weight: 800;
  font-size: 16px;
  font-size: .8125rem;
 }
 .price-box-2 h5{
  font-family: Roboto, sans-serif;
  color: #483292;
  font-size: 34px;
  font-size: 1.625rem;
  line-height: 45px;
  line-height: 2.1125rem;
 }
 .price-box-2 p{
  font-size: .7em;
  font-style: italic;
  padding-top: 5px;
 }

 .price-box-2 .price {
  background: #483292;
  color: #fff;
  position: relative;
  text-align: center;
  border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .price-box-2 .price-content {
    position: relative;
    padding: 20px 20px 30px;
}

.price-box-2 .price-row {
  font-family: Roboto, sans-serif;
  font-weight: 900;
}
.price-row sup {
  font-size: 22px;
  font-size: 1.375rem;
  top: -16px;
}

.price-row span {
  font-size: 40px;
  font-size: 2.5rem;
  }

  .price-box-2 .btn-call {
    background-color: #0f891e;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    color: #fff;
    font-size: 26px;
    font-family: sans-serif;
    transition: 0.3s;
    font-weight: bold;
    border: 2px solid #0f891e;
    border-radius: 6px;
    text-align: center;
    width: 100%;
}

 .price-box-2 .btn-call:hover {
  background-color: #fff;
  color: #0f891e;
 }

.price-box-2 .btn-wrap {
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;

  margin: 0 auto;
}

  /*--------------------------------------------------------------
  # Icon Boxes
  --------------------------------------------------------------*/

  .icon-boxes {
    padding-top: 0;
  }

  .icon-boxes .icon-box {
    padding: 40px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
    transition: all 0.3s ease-in-out;
    border-bottom: 5px solid #fff;
    height: 100%;
    width: 100%;
    text-align:center;
  }

  .icon-box:hover {
    transform: translateY(-5px);
    border-color: #007ae2;
  }

  .icon-boxes .icon {
    margin: 0 auto 20px auto;
    display: inline-block;
    text-align: center;
  }

  .icon-boxes .icon i {
    font-size: 56px;
    line-height: 1;
    color: #212529;
  }

  .icon-boxes .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 22px;
  }

  .icon-boxes .title2 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 17px;
  }

  .icon-boxes .title a {
    color: #05579e;
  }

  .icon-boxes .description {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
    color: #777777;
  }

  /*****************************************
  table
  ******************************************/

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 0.8em;
    margin: .5em 0 .75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table th,
  table td {
    padding: .625em;
    text-align: center;
  }

  table th {
    font-size: 1.01em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    background: #454b52;
    padding: 15px 10px;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 0.8em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }


    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: grid;
      font-size: .8em;
      text-align: left;
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      color:#002f58;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }

  /*
  flip card
  */


  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .EveryState {
    width: 100%;
    padding: 40px 15px;
    float: left
}

.EveryState h3 {
    font: 400 14px/20px 'Montserrat', sans-serif;
    color: #68667d;
    margin: 0 0 20px 0;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #e9e8ec
}

.EveryState ul {
    width: 100%;
    float: left;
    padding: 0;
    list-style-type: none
}

.EveryState ul li {
    width: 12.5%;
    float: left;
    padding: 0 10px 0 0
}

.EveryState ul li a {
    color: #9b9aab;
    font-size: 13px;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 400
}

.EveryState ul li a:hover {
    color: #594ff7;
    border-bottom: 1px solid #594ff7;
    padding-bottom: 2px
}

@media (max-width:767px) {
    .EveryState ul li {
        width: 50%
    }
}

@media (max-width:991px) and (min-width:768px) {
    .EveryState ul li {
        width: 33.33%
    }
}

.EveryState {
    width: 100%;
    padding: 40px 15px;
    float: left
}

.EveryState h3 {
    font: 400 14px/20px 'Montserrat', sans-serif;
    color: #68667d;
    margin: 0 0 20px 0;
    padding: 0 0 14px 0;
    border-bottom: 1px solid #e9e8ec
}

.EveryState ul {
    width: 100%;
    float: left;
    padding: 0;
    list-style-type: none
}

.EveryState ul li {
    width: 12.5%;
    float: left;
    padding: 0 10px 0 0
}

.EveryState ul li a {
    color: #9b9aab;
    font-size: 13px;
    line-height: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 400
}

.EveryState ul li a:hover {
    color: #594ff7;
    border-bottom: 1px solid #594ff7;
    padding-bottom: 2px
}

@media (max-width:767px) {
    .EveryState ul li {
        width: 50%
    }
}

@media (max-width:991px) and (min-width:768px) {
    .EveryState ul li {
        width: 33.33%
    }
}
